{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block menu %}
    {% include 'programmer/menu.html' %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Привет, фрилансер {{ user.first_name }} {{ user.last_name }}</h1>

        {% if not has_portfolio %}
            <div class="centered">
                <div class="p-home">
                    <h3>Чтобы начать выполнять заказы, заполните портфолио.</h3>
                    <div class="p-btn-cnt">
                        <a href="{% url 'programmer:portfolio_create' %}">Заполнить портфолио</a>
                    </div>
                </div>
            </div>
        {% else %}
            {% if not user.telegram.telegram_id %}
                <div class="centered" style="margin-top: 120px;">
                    <div class="info-text">
                        Чтобы получать уведомления о новых заказах,<br>подключите Telegram
                    </div>
                </div>
                <div class="centered" style="margin-top: 30px;">
                    <div class="tg-btn-cnt">
                        <a href="{{ link }}" class="telegram-btn" target="_blank">
                            <i class="fab fa-telegram-plane"></i>
                            Привязать Telegram
                        </a>
                    </div>
                </div>
                {% else %}
                подпишитесь на ваши любимые категории заказов
            {% endif %}

        {% endif %}
    {% endif %}
{% endblock %}