{% extends 'base.html' %}

{% block title %}Мои заказы{% endblock %}

{% block menu %}
    {% include 'programmer/menu.html' %}
{% endblock %}

{% block content %}
    <h2>Мои заказы</h2>
    {% if orders %}
        <div class="sorting">
            <span>Сортировка по:</span>
            <a href="?sort=deadline" class="{% if current_sort == 'deadline' %}active{% endif %}">Дедлайну ↑</a>
            <a href="?sort=deadline_desc" class="{% if current_sort == 'deadline_desc' %}active{% endif %}">Дедлайну
                ↓</a>
            <a href="?sort=price" class="{% if current_sort == 'price' %}active{% endif %}">Цене ↑</a>
            <a href="?sort=price_desc" class="{% if current_sort == 'price_desc' %}active{% endif %}">Цене ↓</a>
        </div>
    {% endif %}

    {% for order in orders %}
        <a href="{% url 'programmer:order_detail' order.id %}" class="order-link">
            <div class="order-cnt-outer">
                <div class="order-cnt-inner">
                    <div class="left">
                        <div class="title">{{ order.title }}</div>
                        <div class="category">{{ order.get_category_display }}</div>
                        <div class="created">{{ order.created }}</div>
                        <div class="full-description">{{ order.full_description }}</div>
                    </div>
                    <div class="right">
                        {% if order.price %}
                            <div class="price">Цена: {{ order.price }} MDL</div>
                        {% else %}
                            <div class="price">Договорная</div>
                        {% endif %}
                        {% if order.deadline %}
                            <div class="deadline">Выполнить до: {{ order.deadline }}</div>
                        {% endif %}
                        <div class="programmer">
                            Заказчик: {{ order.author.first_name }} {{ order.author.last_name }}</div>
                        {% if order.taken %}
                            <div class="taken">Выполняется с: {{ order.taken }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>

    {% empty %}
        <p class="noone">Вы не выполняете ни один заказ</p>
    {% endfor %}
    <div class="bids">
        {% if bids %}
            <h2>Отправленные заявки</h2>
            {% for bid in bids %}
                <div class="bid-cnt">
                    <div class="bid-cnt-inner">
                        <div class="left-part">
                            <a href="{% url 'programmer:order_detail' bid.order.id %}">{{ bid.order.title }}</a>
                            <div class="created-at">{{ bid.created_at }}</div>
                        </div>
                        <div class="buttons">
                            {% if bid.status == 'pending' %}
                                <div class="pending-info">В ожидании</div>
                                <form action="{% url 'programmer:delete_bid' bid.id %}" method="post"
                                      style="display: flex; align-items: center">
                                    {% csrf_token %}
                                    <button type="submit" class="edit-order-button" style="margin: 0">Отменить заявку
                                    </button>
                                </form>
                            {% elif bid.status == 'accepted' %}
                                <div class="accepted-info">Принято</div>
                                <form action="{% url 'programmer:delete_bid' bid.id %}" method="post"
                                      style="display: flex; align-items: center">
                                    {% csrf_token %}
                                    <button type="submit" class="accept-button" style="margin: 0">Убрать заявку</button>
                                </form>
                            {% else %}
                                <div class="rejected-info">Отклонено</div>
                                <form action="{% url 'programmer:delete_bid' bid.id %}" method="post"
                                      style="display: flex; align-items: center">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-order-button" style="margin: 0">Удалить заявку
                                    </button>
                                </form>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>
    <div class="space50"></div>

{% endblock %}