{% extends 'base.html' %}

{% block title %}Детали заказа{% endblock %}

{% block menu %}
    {% include 'programmer/menu.html' %}
{% endblock %}

{% block content %}
    <h1>Детали заказа</h1>
    <div class="order-detail-cnt">
        <div class="order-full-info">
            <div class="left">
                <div class="title">{{ order.title }}</div>
                <div class="category">{{ order.get_category_display }}</div>
                <div class="created">{{ order.created }}</div>
                <div class="full-description-all-lines">{{ order.full_description }}</div>
                {% if not order.programmer %}
                    {% if bid %}
                        <p style="color: green; margin-top: 15px;">Вы уже подали заявку ✔️</p>
                    {% else %}
                        <form action="{% url 'programmer:place_a_bid' order.id %}" method="post">
                            {% csrf_token %}
                            {#                            <div class="flex-column">#}
                            {#                                <label for="{{ form.description.id_for_label }}">Мотивационные слова:</label>#}
                            {#                            </div>#}
                            {#                            <div class="inputFormTextarea" style="max-width: 400px">#}
                            {#                                {{ form.description }}#}
                            {#                                {% if form.description.errors %}#}
                            {#                                    <div class="error">{{ form.description.errors }}</div>#}
                            {#                                {% endif %}#}
                            {#                            </div>#}

                            <button type="submit" class="button-create-order" style="max-width: 250px">Отправить
                                заявку
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <div class="right">
                {% if order.price %}
                    <div class="price">Цена: {{ order.price }} MDL</div>
                {% else %}
                    <div class="price">Договорная</div>
                {% endif %}
                {% if order.deadline %}
                    <div class="deadline">Выполнить до: {{ order.deadline }}</div>
                {% endif %}
                <div class="programmer">Заказчик: {{ order.author.first_name }} {{ order.author.last_name }}</div>
                {% if order.taken %}
                    <div class="taken">Одобрено: {{ order.taken }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if comments %}
        <div class="comments">
            <h3>Комментарии:</h3>
            {% for comment in comments %}
                <div class="comment-cnt">
                    <div class="comment-cnt-inner">
                        <div class="left-comment-part">
                            <div class="author">
                                {% if comment.user == request.user %}
                                    Вы:
                                {% else %}
                                    {{ comment.user.first_name }} {{ comment.user.last_name }}
                                {% endif %}
                            </div>
                            <div class="created-at">
                                {{ comment.created|date:"d.m.y H:i" }}
                            </div>
                        </div>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if form %}
        <div class="add-comment-cnt">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-column">
                    <label for="{{ form.text.id_for_label }}">Новый комментарий:</label>
                </div>
                <div class="inputFormTextarea">
                    {{ form.text }}
                    {% if form.text.errors %}
                        <div class="error">{{ form.text.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="button-create-order">Добавить комментарий</button>
            </form>
        </div>
        <div class="space50"></div>
    {% endif %}
{% endblock %}