{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}
{% block menu %}
    {% include 'programmer/menu.html' %}
{% endblock %}
{% block content %}
        <h2>Создание Портфолио</h2>
        <div class="create-portfolio-cnt">
            <form method="post" enctype="multipart/form-data">
                {% include 'programmer/portfolio_form.html' %}
                {% csrf_token %}
                <button type="submit" class="button-create-portfolio">Создать портфолио</button>
            </form>
        </div>
{% endblock %}