{% extends 'base.html' %}

{% block title %}Мои Заказы{% endblock %}

{% block menu %}
    {% include 'customer/menu.html' %}
{% endblock %}

{% block content %}
    <h1>Мои заказы</h1>
    {% for order in page_obj %}
        <a href="{% url 'customer:order_detail' order.id %}" class="order-link">
            <div class="order-cnt-outer">
                <div class="order-cnt-inner">
                    <div class="left">
                        <div class="title">{{ order.title }}</div>
                        <div class="category">{{ order.get_category_display }}</div>
                        <div class="created">{{ order.created }}</div>
                        <div class="full-description">{{ order.full_description }}</div>
                    </div>
                    <div class="right">
                        {% if order.price %}
                            <div class="price">Цена: {{ order.price }} MDL</div>
                        {% else %}
                            <div class="price">Договорная</div>
                        {% endif %}
                        {% if order.deadline %}
                            <div class="deadline">Выполнить до: {{ order.deadline }}</div>
                        {% endif %}
                        {% if order.programmer %}
                            <div class="programmer">
                                Выполняет: {{ order.programmer.first_name }} {{ order.programmer.last_name }}</div>
                        {% endif %}
                        {% if order.taken %}
                            <div class="taken">Приступил: {{ order.taken }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    {% empty %}
        <p class="noone">Вы не создали ни одного заказа</p>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">1</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    </span>
    </div>
{% endblock %}