{% extends 'base.html' %}

{% block title %}Детали заказа{% endblock %}

{% block menu %}
    {% include 'customer/menu.html' %}
{% endblock %}

{% block content %}
    <h2>Детали заказа</h2>
    <div class="order-detail-cnt">
        <div class="order-full-info">
            <div class="left">
                <div class="title">{{ order.title }}</div>
                <div class="category">{{ order.get_category_display }}</div>
                <div class="created">{{ order.created }}</div>
                <div class="full-description-all-lines">{{ order.full_description }}</div>
                {% if not order.programmer %}
                    <div class="buttons">
                        <form action="{% url 'customer:order_edit' order.id %}">
                            <button type="submit" class="edit-order-button">Редактировать</button>
                        </form>

                        <form action="{% url 'customer:order_delete' order.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="delete-order-button">Удалить</button>
                        </form>
                    </div>

                {% else %}
                    {% if order.is_rejected %}
                        <p style="color: red; margin-top: 15px;">Заказ отправлен на доработку</p>
                    {% elif order.is_approved %}
                        <p style="color: green; margin-top: 15px;">Заказ проверен ✔️</p>
                    {% elif order.is_finished %}
                        <p style="color: #ffcc00; margin-top: 15px;">Заказ завершен, ожидание проверки 🕐</p>
                        <div class="buttons">
                            <form action="{% url 'customer:approve_order' order.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="accept-button">Одобрить</button>
                            </form>

                            <form action="{% url 'customer:reject_order' order.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="delete-order-button">На доработку</button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="right">
                {% if order.price %}
                    <div class="price">Цена: {{ order.price }} MDL</div>
                {% else %}
                    <div class="price">Договорная</div>
                {% endif %}
                {% if order.deadline %}
                    <div class="deadline">Выполнить до: {{ order.deadline }}</div>
                {% endif %}
                {% if order.programmer %}
                    <div class="programmer">
                        Выполняет: {{ order.programmer.first_name }} {{ order.programmer.last_name }}</div>
                {% endif %}
                {% if order.taken %}
                    <div class="taken">{{ order.taken }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if bids %}
        <div class="bids">
            <h3>Заявки:</h3>
            {% for bid in bids %}
                {% if bid.status == 'pending' %}
                    <div class="bid-cnt">
                        <div class="bid-cnt-inner">
                            <div class="left-part">
                                <a href="{% url 'customer:programmer_portfolio' bid.programmer %}">{{ bid.programmer.first_name }} {{ bid.programmer.last_name }}</a>
                                <div class="created-at">{{ bid.created_at }}</div>
                            </div>
                            <div class="buttons">
                                <form action="{% url 'customer:accept_bid' bid.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="accept-button" style="margin: 0">Принять</button>
                                </form>

                                <form action="{% url 'customer:reject_bid' bid.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-order-button" style="margin: 0">Отклонить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if bid.status == 'rejected' %}
                    <div class="bid-cnt">
                        <div class="bid-cnt-inner">
                            <div class="left-part">
                                <a href="{% url 'customer:programmer_portfolio' bid.programmer %}">{{ bid.programmer.first_name }} {{ bid.programmer.last_name }}</a>
                                <div class="created-at">{{ bid.created_at }}</div>
                            </div>
                            <div class="buttons">
                                <div class="rejected-info">
                                    Отклонено
                                </div>
                                <form action="{% url 'customer:accept_bid' bid.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="accept-button" style="margin: 0">Принять</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="space50"></div>
    {% elif not order.programmer %}
        <p class="info-p">Нет ни одной заявки на выполнение...</p>
    {% endif %}
    {% if comments %}
        <div class="comments">
            <h3>Комментарии:</h3>
            {% for comment in comments %}
                <div class="comment-cnt">
                    <div class="comment-cnt-inner">
                        <div class="left-comment-part">
                            <div class="author">
                                {% if comment.user == request.user %}
                                    Вы:
                                {% else %}
                                    {{ comment.user.first_name }} {{ comment.user.last_name }}
                                {% endif %}
                            </div>
                            <div class="created-at">
                                {{ comment.created|date:"d.m.y H:i" }}
                            </div>
                        </div>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if form %}
        <div class="add-comment-cnt">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-column">
                    <label for="{{ form.text.id_for_label }}">Новый комментарий:</label>
                </div>
                <div class="inputFormTextarea">
                    {{ form.text }}
                    {% if form.text.errors %}
                        <div class="error">{{ form.text.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="button-create-order">Добавить комментарий</button>
            </form>
        </div>
        <div class="space50"></div>
    {% endif %}
{% endblock %}