{% extends 'base.html' %}

{% block title %}Программисты{% endblock %}

{% block menu %}
    {% include 'customer/menu.html' %}
{% endblock %}

{% block content %}
    <h1>Портфолио программистов</h1>
    {% if portfolios %}
        {% for portfolio in portfolios %}
            <div class="portfolio">
                <div class="info-container">
                    <div class="info-description">
                        <div class="description-container">
                            {% include 'portfolio_info.html' %}
                        </div>
                        <div class="outer-img-cnt">
                            <div class="image-container">
                                <img src="{{ portfolio.image.url }}" alt="photo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет ни одного программиста на платформе...</p>
    {% endif %}
{% endblock %}