.order-link {
    text-decoration: none;
}

.order-cnt-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 85%;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}

.order-cnt-outer:hover {
    transform: translateY(-5px);
}

.order-cnt-inner {
    width: 100%;
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}


.left {
    width: 70%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(30% - 5px);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.category {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 3px;
}

.created {
    font-size: 0.9rem;
    color: #999999;
    margin-bottom: 6px;
}

.full-description {
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничивает количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.full-description-all-lines {
    color: black;
    text-align: justify;
}

.price {
    font-size: 1rem;
    color: #28a745;
    font-weight: bold;
    margin-top: 5px;
    background: #c5fdc5;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.deadline {
    font-size: 1rem;
    color: #d9534f;
    font-weight: bold;
    margin-top: 10px;
    background: #fbcaca;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.programmer, .taken {
    font-size: 1rem;
    color: #07367e;
    font-weight: bold;
    margin-top: 10px;
    background: #7eb1fb;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.taken {
    margin-bottom: 5px;
}

.order-detail-cnt {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.order-full-info {
    width: 90%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.5);
}

.info-p {
    margin: 50px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.bids {
    h3 {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .bid-cnt {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .bid-cnt-inner {
        width: 50%;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.5);
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.3s;
    }

    a:hover {
        transform: translate(0, -2px);
        color: orange;
    }

    .created-at {
        color: #666666;
        margin: 5px 0;
        font-size: 0.9rem;
    }

}

.comments {
    width: 100%;
    margin-bottom: 30px;

    h3 {
        margin: 30px 0 0 calc(5% - 10px);
    }

    .comment-cnt {
        display: flex;
        margin: 15px 0 0 calc(5% - 10px);
    }

    .comment-cnt-inner {
        width: 70%;
        padding: 20px;
        display: flex;
        border-radius: 15px;
        box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.3);
    }

    .left-comment-part {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: 10px;
        min-width: 120px;
        max-width: 200px;
    }

    .author {
        font-weight: 600;
        color: #222;
        font-size: 1.1rem;
        width: 180px;
    }

    .created-at {
        color: #999;
        font-size: 0.85rem;
        margin-top: 5px;
    }

    .text {
        flex: 1;
        font-size: 1rem;
        line-height: 1.5;
        color: #444;
        text-align: justify;
    }
}

.rejected-info, .pending-info, .accepted-info {
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 700;
    font-size: 1.1rem;
    width: 150px;

}

.rejected-info {
    color: red;
}

.accepted-info {
    color: green;
}

.pending-info {
    color: orange;
}
